  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sobre Nosotros</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li>Sobre Nosotros</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
       <div class="container">
            <div class="row">
                <div class="col img-container">
                    <img src="assets/img/head.jpg" alt="" class="img-fluid img-thumbnail">
                    <h1 class="overlay-text text-secondary">Nosotros</h1>
                    </div>
                </div>
            </div>
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
          <br/>
            <img src="assets/img/logo.png" alt="" class="img img-thumbnail img-responsive">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
          <br>
<p>
Trabajamos con médicos para ofrecer a la sociedad una medicina alternativa que ofrece propiedades terapéuticas capaces de restablecer y mejorar la homeostasis. 
</p> 
<h6>DOCTORES Y CANNAMED </h6>
<p>>
Cannamed es una compañía ecuatoriana enfocada en la distribución de aceites de cannabis medicinal producidos para la salud y el bienestar. 
</p>
<ul>
  <li class="ri-check-double-line">Neurólogos</li>
  <li class="ri-check-double-line">homeópatas</li>
  <li class="ri-check-double-line">Psiquiatras</li>
  <li class="ri-check-double-line">Reumatólogo</li>
</ul>
<h6>TRABAJAMOS CON EL <a href="?path=sequito">“EFECTO SEQUITO”</a></h6>
<p>
El efecto sequito consiste en la interacción entre fitocannabinoides, cannabinoides y terpenos los cuales trabajan en sinergia perfeccionando las cualidades terapéuticas de cada compuesto. Tras 10 años de investigación se llego a lo que lo llamamos la FORMULA MAGISTRAL. Esta conlleva moléculas de la planta de cannabis que permite utilizar el producto para numerosas patologías con una eficacia incomparable. 
</p>          </div>
        </div>

      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->