  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">WORKING WITH NATURE</h2>
              <p class="animate__animated animate__fadeInUp">ACEITES DE CANNABIS MEDICINAL</p>
              <a href="products.html" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver Mas</a>
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">OUR SHOPS</h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section><!-- End Hero -->
   <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col text-center img-thumbnail" style="background-color:#ddd">
          <br>
          <h4>
            <strong>CANNAMED S.A.S. </strong>es una compañía ecuatoriana especializada en trabajar con médicos para la distribución de aceites de cannabis, producto para la salud y el bienestar
          </h4>
          <br>
          <a href="about.html" class="text-rigth">Más sobre CANNAMED <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
        <div class="row">
          <div class="col-12 text-center">
        <br/>
              <h5 class="text-secondary"> DOCTORES Y CANNAMED </h5>
          </div>
        </div>
        <br>
        <div class="row text-center">
          <div class="col">
            <a href="?path=neurologo">
              <img class ="img-thumbnail" src="assets/img/neurologos.jpg" alt="">
            </a>
          </div>
          <div class="col">
          <a href="?path=reumatologo">
              <img class ="img-thumbnail" src="assets/img/reumatologos.jpg" alt="">
          </a>
          </div>
          <div class="col">
          <a href="?path=homeopata">
              <img class ="img-thumbnail" src="assets/img/homeopatas.jpg" alt="">
          </a>
          </div>
          <div class="col">
          <a href="?path=psiquiatra">
              <img class ="img-thumbnail" src="assets/img/psiquiatras.jpg" alt="">
          </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
          <p/>
          <br>
            Trabajamos con asociaciones de médicos para establecer los porcentajes y las dosificaciones precisas para las patologías aplicables
          </p>
          </div>
        </div>
      <br/>
      <div class="row">
        <div class="col text-center text-secondary"> <h5>PACIENTES</h5></div>
      </div>
           <div class="row text-center">
          <div class="col col-sm">
            <a href="?path=imsomnio">
              <img class ="img-thumbnail" src="assets/img/imsomnio.jpg" alt="">
            </a>
            </div>
          <div class="col col-sm">
            <a href="?path=epilepsia">
              <img class ="img-thumbnail" src="assets/img/epilepsia.jpg" alt="">
            </a>
            </div>
          <div class="col col-sm">
            <a href="?path=artritis">
              <img class ="img-thumbnail" src="assets/img/artritis.jpg" alt="">
            </a>
            </div>
          <div class="col col-sm">
            <a href="?path=fibromialgia">
              <img class ="img-thumbnail" src="assets/img/fribromialgia.jpg" alt="">
            </a>
            </div>
          <div class="col col-sm">
            <a href="?path=anorexia">
              <img class ="img-thumbnail" src="assets/img/bulimia.jpg" alt="">
            </a>
            </div>
        </div>
        <br/>
           <div class="row text-center">
          <div class="col col-sm">
            <a href="?path=estres">
              <img class="img-thumbnail" src="assets/img/estres.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=ansiedad">
              <img class="img-thumbnail" src="assets/img/ansiedad.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=alzheimer">
              <img class="img-thumbnail" src="assets/img/alzheimers.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=parkinson">
              <img class="img-thumbnail" src="assets/img/parkinson.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=psoriasis">
              <img class="img-thumbnail" src="assets/img/psoriasis.jpg" alt="">
            </a>
          </div>
        </div>
        <br>
            <div class="row text-center">
          <div class="col col-sm">
            <a href="?path=asma">
              <img class="img-thumbnail" src="assets/img/asma.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=esclerosis">
              <img class="img-thumbnail" src="assets/img/esclerosis.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=depresion">
              <img class="img-thumbnail" src="assets/img/depresion.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=dolor">
              <img class="img-thumbnail" src="assets/img/dolor.jpg" alt="">
            </a>
          </div>
          <div class="col col-sm">
            <a href="?path=tourette">
              <img class="img-thumbnail" src="assets/img/tourette.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <br/>
            Las dosificaciones e informacion sobre las patologias fueron aprobadas por doctores certificados 
            <br/>
            <br/>
          </div>
        </div>
        <div class="row img-thumbnail text-center" style="background-color:#ddd">
          <div class="col text-center">
            <br>
            <br>
            <h2 style="text-decoration: underline;">Trabajamos con el "Efecto S&eacute;quito"</h2>
            <p>
              Combinamos cannabinoides, flavonoides, fitocannabinoides y terpenos para potencial al 100% las propiedades terapéuticas de la planta del cannabis
            </p>
            <a href="?path=sequito">
            <h6>MAS SOBRE EL EFECTO SEQUITO <i class="fas fa-arrow-right"></i></h6>
            </a>
            <br/>
          </div>
        </div>
        <br/>
        <div class="row text-center">
          <div class="col">
            <h5 class="text-secondary">ASOCIACIONES</h5>
            <img src="assets/img/logo-anan.jpg" class="img-thumbnail img-reponsive" alt="">
          </div>
        </div>
          </div>
    </section><!-- Fin Secciones de Doctores-->
    <section>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h3>ARTICULOS</h3>
          </div>
        </div>
        <div class="row">
          <div class="col bordered" style="background-color:#ddd; margin:1%;"><br/><br/><br/><br/><br/><br/><br/><br/></div>
          <div class="col bordered" style="background-color:#eee; margin:1%;"><br/><br/><br/><br/><br/><br/><br/><br/></div>
          <div class="col bordered" style="background-color:#ddd; margin:1%;"><br/><br/><br/><br/><br/><br/><br/><br/></div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->