 <main id="main" style="background-image: url('assets/img/bg-homeopta.jpeg')">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Doctores y Cannamed</h2>
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Doctores</li>
                    <li>Homeópata</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col img-container">
                    <img src="assets/img/head-homeopata.jpg" alt="" class="img-fluid img-thumbnail">
                    <h1 class="overlay-text">Homeópatas</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <br/>
                       La homeopatía se enfoca en varias patologías que entran dentro de otros tipos de medicina. Consiste en recetar medicina proveniente completamente de la naturaleza. El aceite de cannabis esta revolucionando el mundo farmacéutico ya que abarca para una variedad de patologías superior a las de la medicina química. Sin embrago, en CANNAMED nos enfocamos en ofrecer un producto que utiliza compuestos naturales seleccionados para alcanzar el 100% de las propiedades terapéuticas del cannabis.
                    </p>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row shadow">
                        <div class="col">
                            <br>
                            <p>
                                <strong>PATOLOGÍAS HEPÁTICAS</strong>
                            </p>
                            <p>
                                <ul>
                                    <li>Insomnio</li>
                                    <li>Epilesia</li>
                                    <li>Artritis </li>
                                    <li>Asma</li>
                                    <li>Fibromialgia</li>
                                    <li>Dolor Cronico</li>
                                </ul>
                            </p>
                            </div>
                            <div class="col text-center">
                                <br>
                                <p><strong>SELECTIVIDAD</strong></p>
                                <div class="row">
                                    <div class="col" style="text-align:left">
                                        <strong>CANNABINOIDES</strong>
                                        <p>
                                            <ul>
                                                <li>THCA</li>
                                                <li>CBDA</li>
                                                <li>CBG</li>
                                                <li>CBC</li>
                                                <li>CBDV</li>
                                                <li>THCV</li>
                                                <li>CBN</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col" style="text-align:left">
                                        <strong>TERPENOS</strong>
                                        <p>
                                            <ul>
                                                <li>Mirceno</li>
                                                <li>Limoneno</li>
                                                <li>β-Cariofileno</li>
                                                <li>α-Pineno</li>
                                                <li>Terpineol</li>
                                                <li>Linalool</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    </main><!-- End #main -->