 <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Doctores y Cannamed</h2>
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Tratamientos</li>
                    <li>Imsomnio</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col img-container">
                    <img src="assets/img/head.jpg" alt="" class="img-fluid img-thumbnail">
                    <h1 class="overlay-text text-secondary">Imsomnio</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <br/>
                       Mas del 60% de la población mundial sufre de insomnio. Este se denomina un trastorno del sueño frecuente que es causado por otro tipo de patologías en el cuerpo. El sistema endocannabinoide (SEC) dentro del cuerpo humano este encargado de regular el nivel de melatonina y por lo tanto, mantener el cuerpo libre de insomnio. En CANNAMED ofrecemos un producto que utiliza compuestos naturales seleccionados de la planta sativa, que se conectan con los receptores del SEC para regular el sueño cuando el cuerpo ya no lo puede hacer por si solo. 
                    </p>
                    <br/>
                </div>
            </div>
            <div class="row">   
                <div class="col">
                    <div class="row shadow">
                        <div class="col">
                            <br>
                            <p>
                                <strong>PATOLOGIAS NEURO-PSIQUIATRICAS</strong>
                            </p>
                            <p>
                              Todas las patologias aplicables se tratan con el "efecto séquito" en el producto. Este nos permite sacar el 100% del potencial terapeutico del cannabis. 
                            </p>
                            <br>
                            <div class="border text-center bg-light">
                                <a href="?path=sequito" class="text-info">
                                        <h4 style="padding:5px">EFECTO SÉQUITO</h4>
                                </a>
                            </div>
                            </div>
                            <div class="col text-center">
                                <br>
                                <p><strong>SELECTIVIDAD</strong></p>
                                <div class="row">
                                    <div class="col" style="text-align:left">
                                        <strong>CANNABINOIDES</strong>
                                        <p>
                                            <ul>
                                                <li>THCA</li>
                                                <li>CBDA</li>
                                                <li>CBG</li>
                                                <li>CBC</li>
                                                <li>CBDV</li>
                                                <li>THCV</li>
                                                <li>CBN</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col" style="text-align:left">
                                        <strong>TERPENOS</strong>
                                        <p>
                                            <ul>
                                                <li>Mirceno</li>
                                                <li>Limoneno</li>
                                                <li>β-Cariofileno</li>
                                                <li>α-Pineno</li>
                                                <li>Terpineol</li>
                                                <li>Linalool</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    </main><!-- End #main -->