<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"> <img src="assets/img/logo.svg" alt=""> <a href="/cannamed/index.php">Cannamed</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="?path=about" class="{{ about }}">Sobre Nosotros</a></li>
          <li><a href="?path=product" class="{{ product }}">Productos</a></li>
          <li class="dropdown"><a href="#"><span>Doctores</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="?path=neurologo" class="{{ neurologo }}">Neurólogos</a></li>
              <li><a href="?path=homeopata" class="{{ homeopata }}">Homeópatas</a></li>
              <li><a href="?path=reumatologo" class="{{ reumatologo }}">Reumatólogos</a></li>
              <li><a href="?path=psiquiatra" class="{{ psiquiatra }}">Psiquiatras</a></li>
              <li><a href="?path=tratamientos" class="{{ tratamientos }}">Tratamientos</a></li>
            </ul>
          </li>
          <li><a href="?path=contact" class="{{ contact }}">Contáctanos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->