<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Formulario De Registro</h2>
        <ol>
          <li><a href="/">Inicio</a></li>
          <li>Formulario Registro</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col img-container">
          <img
            src="assets/img/head.jpg"
            alt=""
            class="img-fluid img-thumbnail"
          />
          <h1 class="overlay-text text-secondary">Subscribirme</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            <br />
            Use el formulario de registro mostrado a continuación para recibir
            noticias, información de productos y novedades relacionadas con el
            cannabis medicinal
          </p>
          <br />
        </div>
      </div>
      <div class="row shadow" :class="{ 'bg-light' : active_client }">
        <div class="col-4">
        </div>
        <div class="col">
      <br/>
              <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" :class= "{active : active_client}" aria-current="page" @click="setForm('customer')">Soy Paciente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  :class="{active: active_doctor}" @click="setForm('doctor')">Soy Especialista</a>
        </li>
      </ul>
      <br/>
       <form v-if="active_client" action="register.php" method="post">
       <div class="row">
         <div class="col text-center">
               <img src="assets/img/user_logo.png" alt="logo" style="width:50%;align-content:center" >
         </div>
       </div>
       <input type="hidden" name="type" value="client" autofocus>
          <div class="form-group">
              <label for="exampleFormControlInput1" class="text-secondary">Nombres Paciente</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                maxlength="70"
                name="first_name"
                required="required"
              />  
            </div>
               <div class="form-group">
              <label for="exampleFormControlInput1" class="text-secondary">Apellidos Paciente</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                maxlength="70"
                name="last_name"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1" class="text-secondary">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                name="email"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1" class="text-secondary">Padecimiento</label>
              <select 
                class="form-control" 
                id="exampleFormControlSelect1" 
                v-model="other_customer" 
                @change="checkCustomer()"
                required="required"
                name="suffering"
              >
                <option selected> Seleccione...</option>
                <option value="imnsomnio">Imnsomnio</option>
                <option value="epilepsia">Epilepsia</option>
                <option value="artritis">Artritis</option>
                <option value="fibromialgia">Fibromialgia</option>
                <option value="anorexia">Anorexia</option>
                <option value="estrés">Estrés</option>
                <option value="ansiedad">Ansiedad</option>
                <option value="alzheimer">Alzheimer</option>
                <option value="parkinson">Parkinson</option>
                <option value="otro">otro</option>
              </select>
            </div>
            <div class="form-group" v-if="show_other_customer">
            <label for="otro">Por Favor Especifíque</label>
            <input type="text" class="form-control" required="required" name="other_suffering">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="text-secondary">Mensaje Adicional</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                name="message"
              ></textarea>
            </div>
            <div class="form-group">
            <br/>
            <button class="btn btn-lg btn-secondary btn-block">Registrarme</button>
            </div>
            <br/>
          </form>
           <form v-if="active_doctor" action="register.php" method="post">
         <div class="row">
         <div class="col text-center">
               <img src="assets/img/logos_medicina.png" alt="logo" style="width:50%;align-content:center" >
         </div>
       </div>
           <input type="hidden" name="type" value="doctor">
          <div class="form-group">
              <label for="exampleFormControlInput1">Nombres Especialista</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                maxlength="70"
                name="first_name"
                required="required"
                autofocus 
              />  
            </div>
               <div class="form-group">
              <label for="exampleFormControlInput1">Apellidos Especialista</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                maxlength="70"
                name="last_name"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                name="email"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Especialidad</label>
              <select 
                class="form-control"
                id="exampleFormControlSelect1"
                v-model="other_doctor"
                @change="checkDoctor()"
                required="required"
                name="suffering"
                >
                <option selected> Seleccione...</option>
                <option value="imnsomnio">Neurólogo</option>
                <option value="epilepsia">Homeopata</option>
                <option value="artritis">Reumatólogo</option>
                <option value="fibromialgia">Psiquiatra</option>
                <option value="otro">otro</option>
              </select>
            </div>
            <div class="form-group" v-if="show_other_doctor">
            <label for="otro">Por Favor Especifíque</label>
            <input type="text" class="form-control" name="other_suffering" required="required">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Mensaje Adicional</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                name="message"
              ></textarea>
            </div>
               <div class="form-group">
            <br/>
            <button class="btn btn-lg btn-primary btn-block">Registrarme</button>
            </div>
            <br/>
          </form>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
<!-- End #main -->
