<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Formulario De Registro</h2>
        <ol>
          <li><a href="/">Inicio</a></li>
          <li>Formulario Registro</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col img-container">
          <img
            src="assets/img/head.jpg"
            alt=""
            class="img-fluid img-thumbnail"
          />
          <h1 class="overlay-text text-secondary">Subscribirme</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            <br />
            Use el formulario de registro mostrado a continuación para recibir
            noticias, información de productos y novedades relacionadas con el
            cannabis medicinal
          </p>
          <br />
        </div>
      </div>
      <div class="row shadow">
        <div class="col-md-3"></div>
        <div class="col">
        <h3 class="text-right text-secondary" style="text-align:right;">Cannamed</h3>
          <form>
          <div class="form-group">
              <label for="exampleFormControlInput1">Nombres</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                maxlength="70"
                name="name"
              />
            </div>
               <div class="form-group">
              <label for="exampleFormControlInput1">Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                maxlength="70"
                name="lastname"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Soy</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Paciente</option>
                <option>Doctor/Especialista</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <br/>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
<!-- End #main -->
