 <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Doctores y Cannamed</h2>
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Doctores</li>
                    <li>Reumatólogos</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col img-container">
                    <img src="assets/img/head-reumatologia.jpg" alt="" class="img-fluid img-thumbnail">
                    <h1 class="overlay-text">Reumatólogos</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <br/>
                       El cuerpo humano depende del sistema endocannabinoide (SEC) para regular sus funciones a nivel celular. Este sistema trabaja con los receptores cannabinoides CB1 y CB2 los cuales reciben los endocannabinoides producidos por el cuerpo para reestablecer el orden en las células. Estos receptores se encuentran en el cerebro, músculos, articulaciones y huesos. Debido a que reciben endocannabinoides en estas áreas, el SEC trabaja para reestablecer células dañadas que causan enfermedades reumáticas. En CANNAMED ofrecemos productos abundantes en cannabinoides, fito-cannabinoides, terpenos, flavonoides que ayudan a restaurar el sistema endocannabinoide, y así llegar a la homeostasis en el cuerpo humano. 
                    </p>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row shadow">
                        <div class="col">
                            <br>
                            <p>
                                <strong>PATOLOGIAS REUMATICAS</strong>
                            </p>
                            <p>
                                <ul>
                                    <li>Artrtis</li>
                                    <li>Fibromialgia</li>
                                    <li>Psoriasis</li>
                                    <li>Dolor</li> cronico 
                                    <li>Tiroiditis</li> 
                                    <li>Artrosis</li>
                                </ul>
                            </p>
                            </div>
                            <div class="col text-center">
                                <br>
                                <p><strong>SELECTIVIDAD</strong></p>
                                <div class="row">
                                    <div class="col" style="text-align:left">
                                        <strong>CANNABINOIDES</strong>
                                        <p>
                                            <ul>
                                                <li>THCA</li>
                                                <li>CBDA</li>
                                                <li>CBG</li>
                                                <li>CBC</li>
                                                <li>CBDV</li>
                                                <li>THCV</li>
                                                <li>CBN</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col" style="text-align:left">
                                        <strong>TERPENOS</strong>
                                        <p>
                                            <ul>
                                                <li>Mirceno</li>
                                                <li>Limoneno</li>
                                                <li>β-Cariofileno</li>
                                                <li>α-Pineno</li>
                                                <li>Terpineol</li>
                                                <li>Linalool</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    </main><!-- End #main -->