 <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Doctores y Cannamed</h2>
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Efecto Séquito</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col img-container">
                    <img src="assets/img/sequito.jpg" alt="" class="img-fluid img-thumbnail">
                    <div class="overlay-text">
                        <h1>EFECTO SÉQUITO</h1>
                        <h4>SINERGIA ENTRE CANNABINOIDES</h4>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <br/>
                    Desde el descubrimiento de las propiedades terapéuticas de la planta de cannabis (Dr. Raphael Mechoulam), científicos han tratado de separar las componentes de la planta para llegar al atributo medicinal de los componentes por si solos. Estudios recientes han demostrado que las moléculas que conlleva la planta de cannabis trabajan en conjunto para proliferar las propiedades terapéuticas unas de las otras. En otras palabras, los componentes trabajan en sinergia para crear lo que se conoce como "el efecto sequito".
                    </p>
                    <br/>
                </div>
            </div>
            <div class="row">   
                <div class="col">
                    <div class="row shadow">
                        <div class="col">
                            <br>
                            <p>
                                <strong>PATOLOGIAS NEURO-PSIQUIATRICAS</strong>
                            </p>
                            <p style="padding-right:20px;">
                              Todas las patologias aplicables se tratan con el "efecto séquito" en el producto. Este nos permite sacar el 100% del potencial terapeutico del cannabis. 
                            </p>
                            <br>
                            <div class="border text-center bg-light">
                                <a href="?path=sequito" class="text-info">
                                        <h4 style="padding:5px">EFECTO SÉQUITO</h4>
                                </a>
                            </div>
                            </div>
                            <div class="col text-center">
                                <br>
                                <p><strong>SELECTIVIDAD</strong></p>
                                <div class="row">
                                    <div class="col" style="text-align:left">
                                        <strong>CANNABINOIDES</strong>
                                        <p>
                                            <ul>
                                                <li>THCA</li>
                                                <li>CBDA</li>
                                                <li>CBG</li>
                                                <li>CBC</li>
                                                <li>CBDV</li>
                                                <li>THCV</li>
                                                <li>CBN</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col" style="text-align:left">
                                        <strong>TERPENOS</strong>
                                        <p>
                                            <ul>
                                                <li>Mirceno</li>
                                                <li>Limoneno</li>
                                                <li>β-Cariofileno</li>
                                                <li>α-Pineno</li>
                                                <li>Terpineol</li>
                                                <li>Linalool</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row">
          <div class="col-lg-6">
          <br/>
          <br/>
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>DRA. PAOLA PINEDA</h4>
                <span>DOCTORA E INVESTIGADORA CANNABIS MEDICINAL</span>
                <p>
                    "Llevó mas de 4000 pacientes tratados con extractos completos, pienso que la sinergia de la planta es la clave de su acción en el organismo"
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0">
          <br/>
          <br/>
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>DR. ETHAN RUSSO</h4>
                <span>NEUROLOGO E INVESTIGADOR DE PSYCOFARMACOLOGIA</span>
                <p>
                    "En términos generales <strong>Efecto Séquito</strong> es el efecto <strong>Extra</strong> producido por la sinergia entre los 
                    cannabinoides y las otras moléculas del cannabis"
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>
            </div>
        </section><!-- End About Section -->
    </main><!-- End #main -->
